<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OwlCard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--<scripting>
    <scriptResourceHandler enableCompression="false" enableCaching="true"/>
  </scripting>-->
  <connectionStrings>
   <!-- <add name="Connection_Database" connectionString="Data Source=np-stem.temple.edu; Initial Catalog=CIS4396S07; Persist Security Info=True; Integrated Security=False; User ID=usrCIS4396S07; Password=RaspberryDeer39" />-->
  </connectionStrings>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <!--<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="Connection_DB_Password" value="UmFzcGJlcnJ5RGVlcjM5" />
    <add key="Connection_WS_Username" value="cis4396T201903G07" />
    <add key="Connection_WS_Password" value="TenseFaultyDadRainstorm" />
    <add key="demo_mode" value="False" />
    <add key="aspnet:MaxHttpCollectionKeys" value="100000" />-->
  </appSettings>
  <system.web>
    <compilation targetFramework="4.6.1" debug="true">
      <assemblies />
    </compilation>
    <httpRuntime targetFramework="4.6.1" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <!--<OwlCard.Properties.Settings>
      <setting name="OwlCard_LDAP_Search_LDAP_Search" serializeAs="String">
        <value>https://preprod-wsw.temple.edu/ws_ldapsearch/ldap_search.asmx</value>
      </setting>
      <setting name="OwlCard_WS_Student_WS_Student" serializeAs="String">
        <value>https://preprod-wsw.temple.edu/ws_student/ws_student.asmx</value>
      </setting>
      <setting name="OwlCard_WS_ProgramsAndDegrees_ProgramsAndDegrees" serializeAs="String">
        <value>https://preprod-wsw.temple.edu/programsanddegrees/ProgramsAndDegrees.asmx</value>
      </setting>
    </OwlCard.Properties.Settings>-->
  </applicationSettings>
</configuration>
<!--ProjectGuid: 29396FD2-81B1-4FF1-AE57-8CA8309DBFEF-->