#form1 {
    border: none;
}
.spacer5 {
    height: 5px;
}
/* This class is added to the span wrapping the
   header text using the "onRenderHeader" option */
.roundedCorners {
    border: #ccc 1px solid;
    padding: 0 10px;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}